# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
wheel*/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports, examples
htmlcov/
.tox/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
TMP/
examples/*
!examples/*.py
_tmp_*

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build
docs/apiref

# PyBuilder
target/

# pyenv python configuration file
.python-version
src/xtgeo/_theversion.py
src/xtgeo/cxtgeo/cxtgeo*

# other
.idea/
.projectile
.dir-locals.el
tmp_buildswig
'.'/
_skbuild/
pip-wheel-metadata/
