include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include Makefile

recursive-include tests *
recursive-include examples *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
include versioneer.py
include src/xtgeo/_version.py
include src/xtgeo/_theversion.py
recursive-include src/xtgeo/cxtgeo *.c *.h *.i *.txt
