# NOTE: you have to use single-quoted strings in TOML for regular expressions.

[tool.black]
line-length = 88
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  # The following are specific to Black, you probably don't want those.
  | blib2to3
  | tests/data
  | profiling
)/
'''

# numpy version scheme to fulfill Roxar API compatibility:
# RMS 11.* 12.0.*  --> numpy == 1.13.3 with python 3.6
# RMS 12.1.*  -->  numpy == 1.19.2 with python 3.8
#
# For cmake, cmake >= 3.6 is tested to be OK actually but versions are linked to pip versions and
[build-system]
requires = [
  "pip>=20.0,<=22.0.4",
  "scikit-build",
  'cmake==3.13.3; python_version < "3.7" and platform_system == "Linux"',
  'cmake==3.15.3; python_version >= "3.7" and platform_system == "Linux"',
  'cmake==3.18.0; platform_system != "Linux"',
  "ninja",
  "setuptools_scm>=3.2.0",
  'numpy==1.13.3; python_version == "3.6"',
  'numpy==1.19.2; python_version == "3.8"',
  'numpy>=1.19; python_version == "3.7"',
  'numpy>=1.19; python_version >= "3.9"',
]
