# numpy version scheme to fulfill roxar api compatibility
[build-system]
requires = [
         "pip>=19.1.1",
         "setuptools>=30.3.0",
         "wheel",
         "scikit-build",
         "cmake==3.15.3",
         "ninja",
         "setuptools_scm>=3.2.0",
         'numpy==1.10.4; python_version == "3.4"',
         'numpy==1.13.3; python_version >= "3.5" and python_version < "3.7" and platform_system == "Linux"',
         'numpy==1.16.0; python_version >= "3.7" or python_version == "2.7" or platform_system == "Windows"',
         'Sphinx',
         'sphinx-rtd-theme',
         'sphinxcontrib-apidoc',
         'm2r',
         ]
