numpy>=1.10.4
shapely==1.6.2; python_version <= "3.5"
shapely>=1.6.2; python_version > "3.5"
matplotlib>=1.5
scipy>=0.17
segyio==1.8.6; python_version == "3.4"
segyio>=1.8.6; python_version != "3.4"
pandas>=0.21.0; python_version != "3.4"
pandas==0.20.3; python_version == "3.4"
six>=1.11
