numpy==1.10.4; python_version == "3.4"
numpy==1.13.3; python_version >= "3.5" and python_version < "3.7"
numpy==1.16.0; python_version >= "3.7" or python_version == "2.7"
cmake==3.15.3
setuptools_scm==3.2.0
scikit-build==0.10.0
ninja==1.9.0.post1
