# requirements for setup are used in CI tools like travis
numpy==1.10.4; python_version == "3.4"
numpy==1.13.3; python_version >= "3.5" and python_version < "3.7" and platform_system == "Linux"
numpy==1.16.4; python_version >= "3.7" or python_version == "2.7" or platform_system != "Linux"
cmake==3.13.3; python_version < "3.7" and platform_system == "Linux"
cmake==3.15.3; python_version >= "3.7" and platform_system == "Linux"
cmake>=3.6.0; platform_system != "Linux"
setuptools_scm>=3.2.0
scikit-build==0.10.0
ninja==1.8.2; python_version < "3.7" and platform_system == "Linux"
ninja>=1.8.2; python_version >= "3.7" and platform_system == "Linux"
ninja>=1.8.2.post2; platform_system != "Linux"
pytest>=2.9.2
pytest-runner>=2.11.1
Sphinx
sphinx-rtd-theme
sphinx-toolbox
autoclasstoc
myst-parser
shapely==1.6.2; python_version <= "3.5"
shapely>=1.6.2; python_version > "3.5"
pillow<8.4.0 # Fails to build with cibuildwheel
matplotlib>=1.5
scipy>=0.17
segyio==1.8.6; python_version == "3.4"
segyio>=1.8.6; python_version != "3.4"
pandas>=0.21.0; python_version != "3.4"
pandas==0.20.3; python_version == "3.4"
