name: Build Docs

on:
  push:
    branches: [main, "version-*"]
  pull_request:
    branches: [main, "version-*"]

permissions:
  contents: read
  pull-requests: write

jobs:
  build_docs:
    name: Build docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      
      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - uses: Set up Python
        run: uv python install 3.11

      - name: Install xtgeo
        run: |
          uv venv
          uv pip install -U pip
          uv pip install ".[docs]"

      - name: Build docs
        run: uv run sphinx-build -W -b html docs build/docs/html
