name: Build Docs

on:
  push:
    branches: [main, "version-*"]
  pull_request:
    branches: [main, "version-*"]

permissions:
  contents: read
  pull-requests: write

jobs:
  build_docs:
    name: Build docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install xtgeo
        run: |
          pip install -U pip
          pip install ".[docs]"

      - name: Build docs
        run: sphinx-build -W -b html docs build/docs/html
