name: Linting

on: [push, pull_request]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup xtgeo
        uses: "./.github/actions/setup_xtgeo"
        with:
          python-version: 3.11

      - name: List dependencies
        run: pip freeze

      - name: Lint with isort
        if: ${{ always() }}
        run: isort --check-only src tests

      - name: Lint with black
        if: ${{ always() }}
        run: black src tests
