name: linting

# on: [push, pull_request]
on: [push]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Check black style and linting
        run: |
          pip install black
          black --check *.py src tests --exclude tests/**/snapshots
          pip install flake8
          flake8 src tests
