name: Linting

on:
  push:
    branches: [main, "version-*"]
  pull_request:
    branches: [main, "version-*"]
  release:
    types:
      - published
  schedule:
    # Run nightly to check that tests are working with latest dependencies
    - cron: "0 0 * * *"

permissions:
  contents: read
  pull-requests: write

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup xtgeo
        uses: "./.github/actions/setup_xtgeo"
        with:
          python-version: 3.12

      - name: List dependencies
        run: uv pip freeze

      - name: Ruff check
        if: ${{ always() }}
        run: uv run ruff check .

      - name: Ruff format
        if: ${{ always() }}
        run: uv run ruff format . --check

      - name: cmake-format
        if: ${{ always() }}
        run: |
          shopt -s globstar
          uv run cmake-format --check **/CMakeLists.txt

      - name: clang-format
        if: ${{ always() }}
        run: |
          shopt -s globstar
          uv run clang-format **/*.{c,h,cpp,hpp} -Werror -n --verbose
