name: mypy

on:
  push:
    branches: [main, "*postfix"]
  pull_request:
    branches: [main]
  release:
    types:
      - published
  schedule:
    # Run nightly to check that tests are working with latest dependencies
    - cron: "0 0 * * *"

jobs:
  mypy:
    strategy:
      matrix:
        python-version: ["3.8", "3.11"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          # node-version: 16
      ### Test start
      # https://github.com/actions/setup-node/tree/v4/
      - uses: actions/setup-node@v4
        with:
          # node-version: '16'
          node-version: 16
      ### Test end

      - name: Setup xtgeo
        uses: "./.github/actions/setup_xtgeo"
        with:
          python-version: ${{ matrix.python-version }}

      - name: List dependencies
        run: pip freeze

      - name: Run mypy
        run: mypy .
