name: Build & Publish

on:
  pull_request:
    branches: [main, "version-*"]
  release:
    types: [published]

permissions:
  contents: read
  pull-requests: write

jobs:
  build:
    name: ${{ matrix.os }}-${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-latest]
        python: ["cp310", "cp311", "cp312", "cp313"]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install cibuildwheel
        run: python -m pip install -U pip wheel cibuildwheel twine

      - name: Build wheels
        run: cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: ${{ matrix.python }}-*

      - name: Check metadata
        run: twine check wheelhouse/*

      - uses: actions/upload-artifact@v4
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        with:
          name: cibw-${{ matrix.os }}-${{ runner.arch }}-${{ matrix.python }}
          path: wheelhouse/*.whl

  publish:
    needs: [build]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    environment:
      name: pypi
      url: https://pypi.org/project/xtgeo
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: cibw-*
          path: wheelhouse
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          skip-existing: true
          packages-dir: wheelhouse
          verbose: true
